<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang chủ</title>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

  <link rel="stylesheet" href="/static/client/css/partials.css">
  <link rel="stylesheet" href="/static/client/css/home.css">


</head>

<body>
  <%- include('../partials/client/header') %>

  <div class="intro_hospital">
    <div class="intro_wrapper">
      <div class="intro_tag">Nền tảng công nghệ</div>
      <div class="intro_title"><span class="intro_line">Kết nối người dân với
          Cơ sở - Dịch vụ Y tế</span></div>
      <div class="intro_register">
        <a href="/login">
          <button class="intro_btn">Đăng kí khám ngay</button>
        </a>
      </div>
      <div class="intro_desc">Đặt khám nhanh - Lấy số thứ tự trực tuyến - Tư vấn sức khỏe từ xa</div>
    </div>
  </div>

  <div class="intro_subdesc">
    <h2 class="subdesc_text_1">Đặt lịch khám trực tuyến</h2>
    <p class="subdesc_text_2"> Tìm Bác sĩ chính xác - Đặt lịch khám dễ dàng </p>
  </div>

  <section id="booking-doctor">
    <div style="max-width: 80rem; margin: 0 auto 60px; position: relative;">

      <h3 style="padding:0 16px; font-size:1.5rem; margin-top: 2rem;margin-bottom: 1rem;">Đội ngũ bác sĩ hàng đầu</h3>
      <div class="doctor-items">
        <% doctors.forEach(d => { %>
        <div class="doctor-info">
          <div class="items-info">
            <a href="#" class="avatar">
              <img src="<%=d.avatar %>" />
            </a>
            <div class="flex flex-col text-center">
              <a class=" mgb-10" href="#" title="Đặt lịch khám với bác sĩ <%=d.name %>" style="color: black">
                <h3 style="font-weight: 600;font-size: 1.5rem;line-height: 1.75rem;margin: 0;"><%=d.name %></h3>
              </a>
              <p class="text-xl font-semibold text-slider mgb-10"><%=d.department.name %></p>
              <p class="text-xl font-semibold text-slider "><%=d.experience %> năm kinh nghiệm</p>
            </div>
          </div>
        </div>
        <% }) %>
      </div>

    </div>
  </section>


  <%- include('../partials/client/footer') %>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="/static/client/js/home.js"></script>
</body>

</body>

</html>