<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/admin/head') %>
</head>

<body class="hold-transition light-skin sidebar-mini theme-primary">
  <div class="wrapper">
    <div id="loader"></div>

    <%- include('../partials/admin/header') %>

    <%- include('../partials/admin/sidebar') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <div class="container-full">
        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xl-8 col-12">
              <div class="box bg-primary-light">
                <div class="box-body d-flex px-0">
                  <div class="flex-grow-1 p-30 flex-grow-1 bg-img dask-bg bg-none-md" style="background-position: right bottom; background-size: auto 100%; background-image: url(/static/admin/images/svg-icon/color-svg/custom-1.svg)">
                    <div class="row">
                      <div class="col-12">
                        <h2>Chào mừng trở lại, <strong>Cao Trung Đức!</strong></h2>
                        <p class="text-dark my-10 font-size-16">
                          Hệ thống đặt lịch khám bệnh hàng đầu tại Việt Nam
                        </p>
                        <p><i>Đặt lịch dễ dàng, chăm sóc tận tâm cùng YouMed</i></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-12">
              <div class="box">
                <div class="box-body">
                  <div class="box no-shadow mb-0">
                    <div class="box-body px-0 pt-0">
                      <div id="calendar" class="dask evt-cal min-h-400"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>
        <!-- /.content -->
      </div>
    </div>
    <!-- /.content-wrapper -->

    <%- include('../partials/admin/footer') %>

  </div>

  <!-- Page Content overlay -->

  <%- include('../partials/admin/script') %>

  <script>
    $('.fc-event-container:nth-child(2)').hide();
  </script>

</body>

</html>
