<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/admin/head') %>
</head>

<body class="hold-transition light-skin sidebar-mini theme-primary">
  <div class="wrapper">
    <div id="loader"></div>

    <%- include('../partials/admin/header') %>

    <%- include('../partials/admin/sidebar') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <div class="container-full">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="d-flex align-items-center">
            <div class="mr-auto">
              <h3>Phê duyệt đơn khám bệnh</h3>
              <div class="d-inline-block align-items-center">
                <nav>
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="/admin"><i class="mdi mdi-home-outline"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Phê duyệt đơn khám bệnh</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>

        <!-- Main content -->
        <section class="content">
          <div class="box">
            <div class="row align-items-end">
              <div class="col-xl-12 col-12">
                <div class="box-header with-border">
                  <h4 class="box-title">Danh sách đơn khám bệnh</h4>
                </div>
                <div class="box-body pb-0">
                  <div class="row">
                    <div class="col-lg-3 col-12">
                      <div class="form-group">
                        <label>Chuyên khoa</label>
                        <div class="input-group">
                          <select class="form-control select2input departmentFilter" style="width: 100%;">
                            <option value="">-- Tất cả --</option>
                            <% departments.forEach(department => { %>
                            <option value="<%= department.id %>">
                              <%= department.name %>
                            </option>
                            <% }) %>
                          </select>
                        </div>
                        <!-- /.input group -->
                      </div>
                    </div>
                    <div class="col-lg-3 col-12">
                      <div class="form-group">
                        <label>Ngày khám bệnh</label>
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                          </div>
                          <input type="date" class="form-control pull-left dateFilter" />
                        </div>
                        <!-- /.input group -->
                      </div>
                    </div>
                    <div class="col-lg-6 col-12 d-flex flex-wrap" style="gap: 0 8px;">
                      <button style="margin-top: 28px; height: 33.5px; display: flex; align-items: center" class="waves-effect waves-light btn btn-primary mb-5" id="btn-filter">
                        <i style="margin-right: 3px" class="fa fa-filter" aria-hidden="true"></i> Chọn lọc
                      </button>
                      <button style="margin-top: 28px; height: 33.5px; display: flex; align-items: center" class="waves-effect waves-light btn btn-primary mb-5" id="btn-clear">
                        <i style="margin-right: 3px" class="ti-trash" aria-hidden="true"></i> Xóa chọn lọc
                      </button>
                    </div>
                  </div>
                </div>
                <div class="box-body">
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs customtab2" role="tablist">
                    <li class="nav-item">
                      <a id="allOrderNav" class="nav-link active" data-toggle="tab" href="#allOrderTab" role="tab">
                        Tất cả <span></span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a id="notApproveOrderNav" class="nav-link" data-toggle="tab" href="#notApproveOrderTab" role="tab">
                        Chưa xét <span></span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a id="approveOrderNav" class="nav-link" data-toggle="tab" href="#approveOrderTab" role="tab">
                        Đủ điều kiện <span></span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a id="unApproveOrderNav" class="nav-link" data-toggle="tab" href="#unApproveOrderTab" role="tab">
                        Chưa đủ điều kiện <span></span>
                      </a>
                    </li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div class="tab-pane fade active show" id="allOrderTab" role="tabpanel">
                      <div class="pt-15">
                        <table id="allOrderTbl" class="table table-striped dataTable p-0 manage-orders" role="grid" aria-describedby="example1_info" style="width: 100%">
                          <thead class="bg-dark">
                            <tr>
                              <th>STT</th>
                              <th>Họ và tên</th>
                              <th>Số CCCD</th>
                              <th>Giới tính</th>
                              <th>Ngày sinh</th>
                              <th>Chuyên khoa khám</th>
                              <th>Thời gian</th>
                              <th>Chức năng</th>
                            </tr>
                          </thead>
                          <tbody></tbody>
                        </table>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="notApproveOrderTab" role="tabpanel">
                      <div class="pt-15">
                        <table id="notApproveOrderTbl" class="table table-striped dataTable p-0 manage-orders" role="grid" aria-describedby="example1_info" style="width: 100%">
                          <thead class="bg-dark">
                            <tr>
                              <th>STT</th>
                              <th>Họ và tên</th>
                              <th>Số CCCD</th>
                              <th>Giới tính</th>
                              <th>Ngày sinh</th>
                              <th>Chuyên khoa khám</th>
                              <th>Thời gian</th>
                              <th>Chức năng</th>
                            </tr>
                          </thead>
                          <tbody></tbody>
                        </table>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="approveOrderTab" role="tabpanel">
                      <div class="pt-15">
                        <table id="approveOrderTbl" class="table table-striped dataTable p-0 manage-orders" role="grid" aria-describedby="example1_info" style="width: 100%">
                          <thead class="bg-dark">
                            <tr>
                              <th>STT</th>
                              <th>Họ và tên</th>
                              <th>Số CCCD</th>
                              <th>Giới tính</th>
                              <th>Ngày sinh</th>
                              <th>Chuyên khoa khám</th>
                              <th>Thời gian</th>
                              <th>Chức năng</th>
                            </tr>
                          </thead>
                          <tbody></tbody>
                        </table>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="unApproveOrderTab" role="tabpanel">
                      <div class="pt-15">
                        <table id="unApproveOrderTbl" class="table table-striped dataTable p-0 manage-orders" role="grid" aria-describedby="example1_info" style="width: 100%">
                          <thead class="bg-dark">
                            <tr>
                              <th>STT</th>
                              <th>Họ và tên</th>
                              <th>Số CCCD</th>
                              <th>Giới tính</th>
                              <th>Ngày sinh</th>
                              <th>Chuyên khoa khám</th>
                              <th>Thời gian</th>
                              <th>Chức năng</th>
                            </tr>
                          </thead>
                          <tbody></tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- /.content -->
      </div>
    </div>
    <!-- /.content-wrapper -->

    <%- include('../partials/admin/footer') %>

  </div>

  <div id="infoOrderModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myLargeModalLabel">Thông tin chi tiết đơn khám bệnh</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <form id="infoOrderForm">
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-12 col-lg-4">
                <label for="fullName">Họ và tên</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ti-text"></i></span>
                  </div>
                  <input type="text" class="form-control" name="fullName" readonly />
                </div>
              </div>
              <div class="form-group col-12 col-lg-4">
                <label for="gender">Giới tính</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ti-text"></i></span>
                  </div>
                  <input type="text" class="form-control" name="gender" readonly />
                </div>
              </div>
              <div class="form-group col-12 col-lg-4">
                <label for="birthday">Ngày sinh</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                  </div>
                  <input type="date" class="form-control" name="birthday" readonly />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-12 col-lg-4">
                <label for="cardId">Số CMND/CCCD</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ti-id-badge"></i></span>
                  </div>
                  <input type="text" class="form-control" name="cardId" readonly />
                </div>
              </div>
              <div class="form-group col-12 col-lg-4">
                <label for="email">Email</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ti-email"></i></span>
                  </div>
                  <input type="text" class="form-control" name="email" readonly />
                </div>
              </div>
              <div class="form-group col-12 col-lg-4">
                <label for="phone">Số điện thoại</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-phone"></i></span>
                  </div>
                  <input type="text" class="form-control" name="phone" readonly />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-12 col-lg-4">
                <label for="insuranceId">Số BHYT</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ti-id-badge"></i></span>
                  </div>
                  <input type="text" class="form-control" name="insuranceId" readonly />
                </div>
              </div>
              <div class="form-group col-12 col-lg-8">
                <label for="address">Địa chỉ hiện tại</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ti-text"></i></span>
                  </div>
                  <input type="text" class="form-control" name="address" readonly />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-12 col-lg-4">
                <label for="medicalDepartment">Chuyên khoa khám</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ti-text"></i></span>
                  </div>
                  <input type="text" class="form-control" name="medicalDepartment" readonly />
                </div>
              </div>
              <div class="form-group col-12 col-lg-4">
                <label for="medicalDay">Ngày khám</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                  </div>
                  <input type="date" class="form-control" name="medicalDay" readonly />
                </div>
              </div>
              <div class="form-group col-12 col-lg-4">
                <label for="medicalHour">Giờ khám</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                  </div>
                  <input type="text" class="form-control" name="medicalHour" readonly />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="address">Lý do khám</label>
              <textarea class="form-control" name="reason" readonly></textarea>
            </div>
            <div class="form-group">
              <label for="address">Ghi chú</label>
              <textarea class="form-control" name="note" readonly></textarea>
            </div>
            <div class="row">
              <div class="form-group col-6">
                <img src="" id="cccd" name="cccd" alt="CCCD" class="img-thumbnail">
              </div>
              <div class="form-group col-6">
                <img src="" id="bhyt" name="bhyt" alt="BHYT" class="img-thumbnail">
              </div>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-outline waves-effect waves-light" data-dismiss="modal"><i class="ti-arrow-left"></i> THOÁT</button>
            <!-- <button type="submit" class="btn btn-primary"><i class="ti-plus"></i> CẬP NHẬT</button> -->
          </div>
        </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

  <!-- Page Content overlay -->

  <%- include('../partials/admin/script') %>

  <script src="/static/admin/js/script/manage_orders.js"></script>
</body>

</html>
