<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/admin/head') %>
</head>

<body class="hold-transition light-skin sidebar-mini theme-primary">
  <div class="wrapper">
    <div id="loader"></div>

    <%- include('../partials/admin/header') %>

    <%- include('../partials/admin/sidebar') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <div class="container-full">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="d-flex align-items-center">
            <div class="mr-auto">
              <h3>Đặt lịch khám bệnh</h3>
              <div class="d-inline-block align-items-center">
                <nav>
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="/admin"><i class="mdi mdi-home-outline"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Đặt lịch khám bệnh</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>

        <!-- Main content -->
        <section class="content">
          <div class="box">
            <div class="row align-items-end">
              <div class="col-xl-12 col-12">
                <div class="box-header with-border">
                  <h4 class="box-title">Biểu mẫu đặt lịch khám bệnh</h4>
                </div>
                <form id="orderMedicalForm">
                  <input type="hidden" name="user" value="<%= user.id %>" />
                  <div class="box-body">
                    <div class="row">
                      <div class="form-group col-12 col-lg-4">
                        <label for="fullName">Họ và tên <span class="text-danger">*</span></label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ti-text"></i></span>
                          </div>
                          <input type="text" class="form-control" name="fullName" value="<%= user.fullName %>" required />
                        </div>
                      </div>
                      <div class="form-group col-12 col-lg-4">
                        <label for="gender">Giới tính <span class="text-danger">*</span></label>
                        <div class="input-group" style="height: 34px">
                          <select class="form-control select2input" id="gender" name="gender" value="<%= user.gender %>" style="background-color: white; width: 100%" required>
                            <option value="Khác" selected>Khác</option>
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group col-12 col-lg-4">
                        <label for="birthday">Ngày sinh <span class="text-danger">*</span></label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                          </div>
                          <input type="date" class="form-control" name="birthday" value="<%= user.birthdayFormat %>" required />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-12 col-lg-4">
                        <label for="cardId">CMND/CCCD <span class="text-danger">*</span></label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ti-id-badge"></i></span>
                          </div>
                          <input type="text" class="form-control" name="cardId" value="<%= user.cardId %>" required />
                        </div>
                      </div>
                      <div class="form-group col-12 col-lg-4">
                        <label for="email">Email <span class="text-danger">*</span></label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ti-email"></i></span>
                          </div>
                          <input type="text" class="form-control" name="email" value="<%= user.email %>" required />
                        </div>
                      </div>
                      <div class="form-group col-12 col-lg-4">
                        <label for="phone">Số điện thoại</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-phone"></i></span>
                          </div>
                          <input type="text" class="form-control" name="phone" value="<%= user.phone %>" />
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="address">Địa chỉ hiện tại <span class="text-danger">*</span></label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ti-text"></i></span>
                        </div>
                        <input type="text" class="form-control" name="address" value="<%= user.address %>" required />
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-12 col-lg-4">
                        <label for="medicalDepartment">Chuyên khoa khám <span class="text-danger">*</span></label>
                        <select class="form-control select2input" name="medicalDepartment" style="width: 100%;" required>
                          <option value="" selected>-- Chọn --</option>
                          <% departments.forEach(d => { %>
                          <option><%= d.name %></option>
                          <% }) %>
                        </select>
                      </div>
                      <div class="form-group col-12 col-lg-4">
                        <label for="medicalDay">Ngày khám <span class="text-danger">*</span></label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                          </div>
                          <input type="date" class="form-control" name="medicalDay" required />
                        </div>
                      </div>
                      <div class="form-group col-12 col-lg-4">
                        <label for="medicalHour">Giờ khám <span class="text-danger">*</span></label>
                        <select class="form-control select2input" name="medicalHour" style="width: 100%;" required>
                          <option value="" selected>-- Chọn --</option>
                          <option>7h30 - 8h30</option>
                          <option>8h30 - 9h30</option>
                          <option>9h30 - 10h30</option>
                          <option>10h30 - 11h30</option>
                          <option>13h30 - 14h30</option>
                          <option>14h30 - 15h30</option>
                          <option>15h30 - 16h30</option>
                          <option>16h30 - 17h30</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="address">Lý do khám <span class="text-danger">*</span></label>
                      <textarea class="form-control" name="reason" required></textarea>
                    </div>
                    <div class="form-group">
                      <label for="address">Ghi chú</label>
                      <textarea class="form-control" name="note"></textarea>
                    </div>
                  </div>
                  <div class="box-footer d-flex justify-content-center">
                    <a href="/admin" class="btn btn-rounded btn-warning btn-outline mr-2">
                      <i class="ti-trash"></i> Quay lại
                    </a>
                    <button type="submit" class="btn btn-rounded btn-primary btn-outline">
                      <i class="ti-save-alt"></i> Đặt lịch khám bệnh
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
        <!-- /.content -->
      </div>
    </div>
    <!-- /.content-wrapper -->

    <%- include('../partials/admin/footer') %>

  </div>

  <!-- Page Content overlay -->

  <%- include('../partials/admin/script') %>

  <script src="/static/admin/js/script/order_medical_form.js"></script>
  <script>
    $('#gender').val('<%= user.gender %>').change()
  </script>
</body>

</html>
