<aside class="main-sidebar">
  <section class="user-profile px-30 py-0">
    <div class="d-flex align-items-center">
      <div class="image">
        <img src="<%= user.avatar %>" alt="Not Found" onerror="this.src='/static/admin/images/avatar/anonymous.png'" class="avatar avatar-lg">
      </div>
      <div class="info ml-10">
        <p class="mb-0">Xin chào,</p>
        <h5 class="mb-0"><%= user.fullName %></h5>
      </div>
    </div>
  </section>
  <!-- sidebar-->
  <section class="sidebar">
    <% if(ROLES?.find(role => role === 'khach-hang' )) { %>
    <!-- sidebar menu-->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="<%= path === '/' ? 'active' : ':' %>">
        <a href="/admin">
          <i class="ti-home"><span class="path1"></span><span class="path2"></span></i>
          <span>Bảng điều khiển</span>
        </a>
      </li>
      <li class="<%= path === '/order-medical-form' ? 'active' : ':' %>">
        <a href="/admin/order-medical-form">
          <i class="icon-Write"><span class="path1"></span><span class="path2"></span></i>
          <span>Đặt lịch khám bệnh</span>
        </a>
      </li>
      <li class="<%= path === '/profile' ? 'active' : ':' %>">
        <a href="/admin/profile">
          <i class="ti-user"><span class="path1"></span><span class="path2"></span></i>
          <span>Thông tin cá nhân</span>
        </a>
      </li>
      <li class="<%= path === '/history-orders' ? 'active' : ':' %>">
        <a href="/admin/history-orders">
          <i class="fa fa-calendar"><span class="path1"></span><span class="path2"></span></i>
          <span>Lịch sử khám bệnh</span>
        </a>
      </li>
      <!-- <li>
        <a href="#">
          <i class="ti-money"><span class="path1"></span><span class="path2"></span></i>
          <span>Lịch sử thanh toán</span>
        </a>
      </li> -->
      <% if(ROLES?.find(role => role === 'nhan-vien-kiem-duyet' )) { %>
      <li class="<%= path === '/manage-orders' ? 'active' : ':' %>">
        <a href="/admin/manage-orders">
          <i class="ti-clipboard"><span class="path1"></span><span class="path2"></span></i>
          <span>Phê duyệt đơn khám bệnh</span>
        </a>
      </li>
      <li class="<%= path === '/statistic' ? 'active' : ':' %>">
        <a href="/admin/statistic">
          <i class="fa fa-bar-chart"><span class="path1"></span><span class="path2"></span></i>
          <span>Thống kê đơn khám bệnh</span>
        </a>
      </li>
      <% } %>
      <% if(ROLES?.find(role => role === 'admin' )) { %>
      <li class="treeview">
        <a href="#">
          <i class="icon-Bullet-list"><span class="path1"></span><span class="path2"></span></i>
          <span>Quản trị hệ thống</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="<%= path === '/manage-users' ? 'active' : ':' %>">
            <a href="/admin/manage-users">
              <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>
              <span>Quản lý tài khoản</span>
              <span class="pull-right-container"> </span>
            </a>
          </li>

          <li class="<%= path === '/manage-roles' ? 'active' : ':' %>">
            <a href="/admin/manage-roles">
              <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>
              <span>Quản lý quyền</span>
              <span class="pull-right-container"> </span>
            </a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="icon-Bullet-list"><span class="path1"></span><span class="path2"></span></i>
          <span>Danh mục hệ thống</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="<%= path === '/manage-departments' ? 'active' : ':' %>">
            <a href="/admin/manage-departments">
              <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>
              <span>Quản lý chuyên khoa</span>
              <span class="pull-right-container"> </span>
            </a>
          </li>
          <li class="<%= path === '/manage-doctors' ? 'active' : ':' %>">
            <a href="/admin/manage-doctors">
              <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>
              <span>Quản lý bác sĩ</span>
              <span class="pull-right-container"> </span>
            </a>
          </li>
          <li class="<%= path === '/manage-shifts' ? 'active' : ':' %>">
            <a href="/admin/manage-shifts">
              <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>
              <span>Quản lý ca làm việc</span>
              <span class="pull-right-container"> </span>
            </a>
          </li>
        </ul>
      </li>
      <% } %>
    </ul>
    <% } %>
  </section>
</aside>
